# Getting more than 6 Features

# Definition function to process text:

In [2]:
# Return a lower case proccesed text
def processtext(texto):
    import re
    REPLACE_NO_SPACE = re.compile("(\.)|(\')|(\?)|(\,)|(\")|(\[)|(\])")
    REPLACE_WITH_SPACE = re.compile("(<br\s*/><br\s*/>)|(\-)|(\/)")
    texto = REPLACE_NO_SPACE.sub('', texto.lower())
    texto = REPLACE_WITH_SPACE.sub(' ', texto)
    return texto

## Get the number of pronouns in a text:

In [3]:
# Get the number of 1st and 2nd pronouns:
def numberpronouns(texto):
    import re
    PRONOUNS = [r'\bi\b',r'\bwe\b',r'\byou\b',r'\bme\b',r'\bmyself\b',r'\byourself\b',r'\bll\b']
    L = [re.findall(pro, texto) for pro in PRONOUNS]
    lengh = 0
    for l in L:
        lengh = lengh + len(l)
    return float(lengh)

## Is if No, not, neither word is contained

In [4]:
def isNoThere(texto):
    import re
    NO_VARS = [r'\bno\b',r'\bneither\b']
    L_NO = [re.findall(neg, texto) for neg in NO_VARS]
    le = 0
    for ll in L_NO:
        le = le+len(ll)
    if(le > 0):
        return float(1.0)
    else:
        return float(0.0)

## Is ( ! ) character contained in the text?

In [5]:
def isExclamationThere(texto):
    import re
    EX_VAR = r'!'
    L_EXC = re.findall(EX_VAR, texto)
    if(len(L_EXC) > 0):
        return float(1.0)
    else:
        return float(0.0)

## Get the logarithm of number of words

In [6]:
def getLnNumberWords(texto_dividido):
    import numpy as np
    N_WORDS = len(texto_dividido)
    return np.log(N_WORDS)

## Get Number of Positive and negative words

In [7]:
def getPositiveNegativeCountWords(texto_dividido, posneg_dictionary):
        # Count the positive words
    COUNT_POSITIVE = 0
    COUNT_NEGATIVE = 0
    for word in texto_dividido:
        try:
            val = posneg_dictionary[word]
            if val == 1:
                COUNT_POSITIVE = COUNT_POSITIVE + 1
            elif val == 0:
                COUNT_NEGATIVE = COUNT_NEGATIVE + 1

        except KeyError:
            pass
    
    return (float(COUNT_POSITIVE), float(COUNT_NEGATIVE))

# Is there a SmileFace?

In [8]:
def isSmileFaceThere(texto):
    import re
    SMILE_VAR = [r':\)', r';\)',r':D\b']
    L_SM = [re.findall(sm, texto) for sm in SMILE_VAR]
    le = 0
    for ll in L_SM:
        le = le+len(ll)
    if(le > 0):
        return float(1.0)
    else:
        return float(0.0)

## Is there a SadFase?

In [9]:
def isSadFaceThere(texto):
    import re
    SAD_VAR = [r':\(', r';\(']
    L_SAD = [re.findall(sad, texto) for sad in SAD_VAR]
    le = 0
    for ll in L_SAD:
        le = le+len(ll)
    if(le > 0):
        return float(1.0)
    else:
        return float(0.0)

# Is there extreme positive words?

In [11]:
def isPosWordsThere(texto):
    import re
    POS_VARS = [r'love',r'great',r'\bexceptional\b',r'superlative\b',r'wonderful',r'exemplary',r'\benjoy\b',r'amazing',r'\benjoyable\b',r'\bexcellent\b']
    L_POS = [re.findall(pos, texto) for pos in POS_VARS]
    le = 0
    for ll in L_POS:
        le = le+len(ll)
    if(le > 0):
        return (float(le), float(1.0))
    else:
        return (float(le), float(0.0))

# Is there extreme negative words?

In [10]:
def isExtrmNegativeWordThere(texto):
    import re
    POS_VARS = [r'least',r'no',r'nothing',r'bad',r'worst',r'poor', r'mediocre',r'awful',r'\bugh\b',r'avoid this one',r'dont watch',r'so bad',r'waste of time',r'suck',r'save yourself',r'minute']
    L_POS = [re.findall(pos, texto) for pos in POS_VARS]
    le = 0
    for ll in L_POS:
        le = le+len(ll)
    if(le > 0):
        return (float(le), float(1.0))
    else:
        return (float(le), float(0.0))

In [168]:
# Expressions, avoid this one

In [169]:
# Is avoid this one there?

In [181]:
#def isAvoidThisOneThere(texto):
#    import re
#    AVOID_VAR = r'avoid this one'
#    r = re.search(AVOID_VAR, texto)
#    if(r is not None):
#        return float(1.0)
#    else:
#        return float(0.0)

In [182]:
ttt = """
Plankton, or Creatures from the Abyss as I'm positive it's more commonly known as & filmed under as the title Creatures from the Abyss appears over a moving image & in the same font type as the rest of the credits, starts with five 20 something kids, Mike (Clay Rogers) his girlfriend Margaret (Sharon Twomey), sisters Julie (Ann Wolf) & Dorothy (Loren DePalm) & an annoying idiot named Bobby (Michael Bon) whom decide to all fit into a small rubber boat & head out to sea, don't ask why as I don't know. Oh & the complete idiot Bobby left the petrol behind & never thought to tell anyone so it comes as no great surprise that they end up stranded out at sea without any petrol for the motor & to make matters worse they become trapped in a thunder storm & discover a dead body floating in the water. Shortly after their luck seems to change when they come across a yacht & potential safety, in a flash everyone boards the yacht & begin to explore. First of all they find a scientific lab with various fish specimens & computer equipment, then down below they find fully furnished & luxurious cabins. They find a chemist (Deran Sarafian) who appears mad & can't talk. They eat fish from the fridge which makes Dorothy puke up green vomit, beetles & slugs. They learn that these fish are living fossil's 1000's of years old & have been contaminated by toxic waste dumped in the sea & that they fly, mutate, bite & are generally unpleasant to be around. I really can't be bothered to go on with this plot outline so I won't, here's what I think...<br /><br />This Italian production was produced & directed by Massimiliano Cerchi under the pseudonym Al Passeri (I'd hide under a different name if I made a film this bad too) & I think Plankton is quite simply one of the worst films ever, there are so many things wrong with this film it's difficult to know where to start. First the script by Richard Baumann is total crap, it makes no sense whatsoever & is so slow & dull it was torture for me to sit through. Why would five people just simply set sail for the middle of the ocean on a rubber dinghy barely big enough to fit them all in? What were they planning on doing exactly? Why do we often get point-of-view shots from these fish creatures but they seem to be totally invisible to the characters as they are never shown on screen even though they are right next to a character, & how do these fish get around the boat as there is no water for them to swim in? People's actions & reactions to things are all wrong, they constantly split up, they make bizarre decisions that simply don't make any sense in the situation they find themselves in & some of the dialogue is as awful as anything I've heard. I could go on all day about all the plot holes & ridiculous goings on but I'll run out of space if I do. The fish creatures themselves look awful, a mixture of rubbish rubber puppets & some really bad stop motion animation at the end, the scenes where they interact with the human cast also look terrible with some bad super imposition. I have heard a lot of comments saying that Plankton is gory, don't make me laugh! Forget it there is virtually no blood or gore in Plankton whatsoever, there are a couple of slimy scenes when Bobby transforms into a fish monster while having sex with Julie but it's pretty brief & he doesn't kill her, he just sort of drips slime on her, grows a couple of tentacles & a fish head comes out of his mouth. Later on Julie's vagina starts to drip some dark slime but that's it, we never get to actually see what happens to her or what the slime is. Dorothy has a fish creature come out of her back, off screen, & control her but again we never get to see what happens to her while Margaret commits suicide, a very brief shot of a plastic harpoon stuck to her forehead. Easily the grossest scene is when Dorothy pukes up that green stuff with what looks like beetles & slugs in it. That's it, only one person actually dies on screen & for the most part Plankton is quite tame & as exciting as watching paint dry & I nearly fell asleep it's so boring. I can't see how anybody can like this total crap, I just can't. The acting is awful, the dubbing is awful, the characters are awful & I hated all of them. Tecnically Plankton is predictably crap as well, with an estimated budget of only $250,000 all I can say is where did the money go? The sets are monotonous & dull with one lab & a few cabins, the special effect's are bottom of the barrel stuff including the most fake looking exploding boat ever, the cinematography is bland, the music sucks there is zero atmosphere or tension & as a whole Plankton, like it's name sake, is as low in the food chain as it could possibly be. I hate Plankton, it's awful in every single aspect of it's overlong 86 minute duration. Do yourself a favour & avoid this one at all costs unless your either a masochist or insomniac."""

In [184]:
txtx = "DFFSfkñsfkfsfkñlskfskfksfñ  fkdsñlfksñlfksñffs"

In [185]:
isAvoidThisOneThere(txtx.lower())

0.0

In [188]:
isExtrmNegativeWordThere(ttt)

1.0

## Chargue full dictionary:

In [12]:
def chargeDictionariPosNeg():
    posneg_dictionary = {}
    # Charge positive file of words to dictionary
    with open('goodbad/positive-words.txt','r') as fichero:
        import re
        for lin in fichero:
            if('a+' in lin):
                break
        for lin in fichero:
            if(' ' not in lin):
                posneg_dictionary[re.sub('\n','',lin)] = 1
                
    # Charge negative file of words to dictionary
    with open('goodbad/negative-words.txt','r') as fichero:
        import re
        for lin in fichero:
            if('2-faces' in lin):
                break
        for lin in fichero:
            if(' ' not in lin):
                posneg_dictionary[re.sub('\n','',lin)] = 0
    
    return posneg_dictionary

## Extract full features

In [13]:
dictionary = chargeDictionariPosNeg()

In [14]:
def extract_features(texto, dictionary):
    import re
    texto = processtext(texto)
    texto_dividido = re.split(' ', texto)
    x1, x2 = getPositiveNegativeCountWords(texto_dividido, dictionary)
    x3 = isNoThere(texto)
    x4 = numberpronouns(texto)
    #x5 = isExclamationThere(texto)
    #x6 = getLnNumberWords(texto_dividido)
    x7 = isSmileFaceThere(texto)
    x5, x8 = isPosWordsThere(texto)
    x6, x9 = isExtrmNegativeWordThere(texto)
    return {'x1':x1, 'x2':x2, 'x3':x3, 'x4':x4,'x5':x5,'x6':x6, 'x7':x7,'x8':x8,'x9':x9}

In [16]:
texto = """In 1974, the teenager Martha Moxley (Maggie Grace) moves to the high-class area of Belle Haven, Greenwich, Connecticut. On the Mischief Night, eve of Halloween, she was murdered in the backyard of her house and her murder remained unsolved. Twenty-two years later, the writer Mark Fuhrman (Christopher Meloni), who is a former LA detective that has fallen in disgrace for perjury in O.J. Simpson trial and moved to Idaho, decides to investigate the case with his partner Stephen Weeks (Andrew Mitchell) with the purpose of writing a book. The locals squirm and do not welcome them, but with the support of the retired detective Steve Carroll (Robert Forster) that was in charge of the investigation in the 70's, they discover the criminal and a net of power and money to cover the murder.<br /><br />"Murder in Greenwich" is a good TV movie, with the true story of a murder of a fifteen years old girl that was committed by a wealthy teenager whose mother was a Kennedy. The powerful and rich family used their influence to cover the murder for more than twenty years. However, a snoopy detective and convicted perjurer in disgrace was able to disclose how the hideous crime was committed. The screenplay shows the investigation of Mark and the last days of Martha in parallel, but there is a lack of the emotion in the dramatization. My vote is seven.<br /><br />Title (Brazil): Not Available
"""

In [286]:
isPosWordsThere(texto)

(0, 0.0)

In [287]:
tt = """
After huge budget disaster films set in America like The Day After Tomorrow and Deep Impact, it was refreshing to see something on a smaller scale like Flood.<br /><br />Using mainly unknown actors and actresses and actually focusing on England it was a welcome change of pace to seeing The Empire State Building being demolished.<br /><br />However, this is not a strong film on any basis. Whilst being fairly shocking seeing all your favourite London landmarks being demolished by a very fake CGI storm surge, Flood doesn't really deliver on anything else.<br /><br />The performances are bland, being saved from the pit of hell by David Suchet and his refreshingly calm performance as the Deputy Priminister. He is perhaps a little too calm for what is going on in the film, all that fake water gushing around London must have made him pretty annoyed.<br /><br />It is understandable that the effects weren't going to be as good as TDAT and DI, but the CGI was at best, average.<br /><br />Bland, disappointing and sometimes even tiresome. Watch it if you must, but watch something else straight afterwards."""

In [288]:
isPosWordsThere(tt.lower())

(0, 0.0)

In [17]:
M = extract_features(texto, dictionary)

In [344]:
#data.to_csv('9featues_076.csv')

In [18]:
M

{'x1': 6.0,
 'x2': 14.0,
 'x3': 0.0,
 'x4': 0.0,
 'x5': 0.0,
 'x6': 3.0,
 'x7': 0.0,
 'x8': 0.0,
 'x9': 1.0}

## Get all features

In [19]:
import pandas as pd
# if you want to download the original file:
#df = pd.read_csv('https://raw.githubusercontent.com/rasbt/pattern_classification/master/data/50k_imdb_movie_reviews.csv')
# otherwise load local file
df = pd.read_csv('shuffled_movie_data.csv')
df.tail()

                                                  review  sentiment
49995  OK, lets start with the best. the building. al...          0
49996  The British 'heritage film' industry is out of...          0
49997  I don't even know where to begin on this one. ...          0
49998  Richard Tyler is a little boy who is scared of...          0
49999  I waited long to watch this movie. Also becaus...          1

In [20]:
data = pd.DataFrame(columns=['x1','x2','x3','x4','x5','x6','x7','x8','x9'])

for index, row in df.iterrows():
    texto = row['review']
    sentiment = row['sentiment']
    features_text = extract_features(texto, dictionary)
    features_text['sentiment'] = sentiment
    data = data.append(features_text, ignore_index=True)
data.index.name = 'Id'

In [21]:
data.head()

      x1    x2   x3   x4   x5   x6   x7   x8   x9  sentiment
Id
0    7.0  14.0  0.0  0.0  0.0  3.0  0.0  0.0  1.0        1.0
1   13.0  10.0  0.0  9.0  1.0  6.0  0.0  1.0  1.0        0.0
2   14.0  20.0  0.0  6.0  1.0  9.0  0.0  1.0  1.0        0.0
3    4.0   0.0  0.0  7.0  2.0  0.0  0.0  1.0  0.0        1.0
4    4.0   2.0  0.0  3.0  1.0  0.0  0.0  1.0  0.0        0.0

In [22]:
data['x7'].value_counts()

0.0    49592
1.0      408
Name: x7, dtype: int64

In [23]:
data['x8'].value_counts()

1.0    27519
0.0    22481
Name: x8, dtype: int64

In [24]:
data['sentiment'].value_counts()

0.0    25000
1.0    25000
Name: sentiment, dtype: int64

In [25]:
conting_t = pd.crosstab(data['x7'],data['sentiment'])
conting_t

sentiment    0.0    1.0
x7
0.0        24864  24728
1.0          136    272

In [26]:
conting_t2 = pd.crosstab(data['x8'],data['sentiment'])

In [140]:
conting_t2

sentiment    0.0    1.0
x8
0.0        22257  18347
1.0         2743   6653

In [27]:
conting_t2

sentiment    0.0    1.0
x8
0.0        14957   7524
1.0        10043  17476

In [107]:
conting_t2 = pd.crosstab(data['x8'],data['x7'])
conting_t2

x7     0.0  1.0
x8
0.0  49550  402
1.0     42    6

In [28]:
pd.crosstab(data['x9'],data['sentiment'])

sentiment    0.0    1.0
x9
0.0          848   2901
1.0        24152  22099

In [29]:
data.corr()['sentiment'].sort_values(ascending=False)

sentiment    1.000000
x5           0.310727
x8           0.298841
x1           0.218746
x7           0.030235
x4          -0.044832
x3          -0.149048
x9          -0.155909
x2          -0.212659
x6          -0.221062
Name: sentiment, dtype: float64

In [315]:
pd.crosstab(data['x5'],data['sentiment'])

sentiment    0.0    1.0
x5
0.0        17936  10548
1.0         5096   7546
2.0         1394   3853
3.0          403   1700
4.0          109    722
5.0           39    339
6.0           12    142
7.0            9     55
8.0            2     44
9.0            0     16
10.0           0     12
11.0           0      9
12.0           0      4
13.0           0      3
14.0           0      1
15.0           0      2
17.0           0      2
23.0           0      1
24.0           0      1

In [84]:
temp = """The only possible way to enjoy this flick is to bang your head against the wall, allow some internal hemorrhaging of the brain, let a bunch of your brain cells die and once you are officially mentally retarded, perhaps then you *MIGHT* enjoy this film.<br /><br />The only saving grace was the story between Raju and Stephanie. Govinda was excellent in the role of the cab driver and so was the Brit girl. Perhaps if they would have created the whole movie on their escapades in India and how they eventually fall in love would have made it a much more enjoyable film.<br /><br />The only reason I gave it a 3 rating is because of Govida and his ability as an actor when it comes to comedy.<br /><br />Juhi Chawla and Anil Kapoor were wasted needlessly. Plus the scene at Heathrow of the re-union was just too much to digest. Being an international traveler in the post 9/11 world, Anil Kapoor would have got himself shot much before he even reached the sky bridge to profess his true love :) But then again the point of the movie was to defy logic, gravity, physics and throw an egg on the face of the *GENERAL* audience.<br /><br />Watch it at your own peril. At least I know I have been scarred for life :(
"""

In [85]:
temp = processtext(temp)

In [86]:
temp

'the only possible way to enjoy this flick is to bang your head against the wall allow some internal hemorrhaging of the brain let a bunch of your brain cells die and once you are officially mentally retarded perhaps then you *might* enjoy this film the only saving grace was the story between raju and stephanie govinda was excellent in the role of the cab driver and so was the brit girl perhaps if they would have created the whole movie on their escapades in india and how they eventually fall in love would have made it a much more enjoyable film the only reason i gave it a 3 rating is because of govida and his ability as an actor when it comes to comedy juhi chawla and anil kapoor were wasted needlessly plus the scene at heathrow of the re union was just too much to digest being an international traveler in the post 9 11 world anil kapoor would have got himself shot much before he even reached the sky bridge to profess his true love :) but then again the point of the movie was to defy logic gravity physics and throw an egg on the face of the *general* audience watch it at your own peril at least i know i have been scarred for life :(\n'

In [30]:
extract_features(temp, dictionary)

NameError: name 'temp' is not defined

In [88]:
isSmileFaceThere(temp)

1.0

In [260]:
data.tail()

         x1    x2   x3   x4   x7   x8   x9  sentiment
Id
49995   8.0  13.0  1.0  8.0  0.0  1.0  0.0        0.0
49996  19.0  15.0  1.0  3.0  0.0  1.0  1.0        0.0
49997   2.0   3.0  1.0  2.0  0.0  0.0  1.0        0.0
49998   4.0   3.0  1.0  0.0  0.0  0.0  0.0        0.0
49999   4.0   1.0  0.0  4.0  1.0  0.0  0.0        1.0

In [31]:
Y = data['sentiment'].copy()
X = data.copy()
X.drop(['sentiment'], axis=1, inplace=True)

In [32]:
from sklearn.cross_validation import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)

/home/erick/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [33]:
from sklearn import linear_model
lm = linear_model.LogisticRegression()
lm.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [34]:
probs = lm.predict_proba(X_test)

In [35]:
probs

array([[0.16419169, 0.83580831],
       [0.81726771, 0.18273229],
       [0.06807614, 0.93192386],
       ...,
       [0.52526351, 0.47473649],
       [0.08489114, 0.91510886],
       [0.46754122, 0.53245878]])

In [36]:
prediction = lm.predict(X_test)

In [37]:
lm.score(X_test, Y_test)

0.7557333333333334

In [326]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test, prediction)

array([[5436, 1906],
       [1698, 5960]])

In [331]:
prediction

array([1., 0., 1., ..., 1., 1., 1.])

In [334]:
from sklearn import metrics
metrics.roc_auc_score(Y_test, prediction)

#metrics.auc(fpr, tpr)

0.7593344004261732

In [335]:
y_test = Y_test.values

In [323]:
from sklearn import metrics
metrics.accuracy_score(Y_test, prediction)

0.7597333333333334

In [212]:
myt = """
I personally hated this movie because it was predictable, the characters were stereotypical ,and the whole idea was a rip off of "The Cutting Edge", and "Cadet Kelly". <br /><br />The main character is a snotty girl who gets shipped of to a place where she doesn't belong. The whole place hates her, and to make things worse there is a hot guy that seemingly doesn't like her ( well duh the whole damn school can't stand you). Amazingly she finds a way to fit in and make everyone to like her plus, gets the guy to fall head over heels in love with her. Then comes the choice, where she must choose between figure skating and hockey. She chooses hockey then she goes to the figure skating nationals,and gets to be on the Olympic team. No real surprise there.<br /><br />This whole movie was so damn predictable You knew what was going to happen before you even saw it. This was so awful I nearly puked, and by the time I was finished watching it, I had an awful headache and the urge to shoot myself for watching such crap. Don't watch this unless you are under ten, or actually like crappy tween movies."""

In [1]:
processtext(myt)

NameError: name 'processtext' is not defined